#staff-login {
  margin: 5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#staff-login * {
  margin: 0.5em 0;
}

#staff-login input {
  background-color: #e6e6e6;
  border: none;
  height: 1.5em;
  padding: 0.5em;
  border-radius: 10px;
}

#staff-login input:focus {
  outline: solid #e76f51;
}

#staff-login p {
  color: crimson;
}

#staff-options {
  list-style: none;
}

#staff-options li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#staff-options a {
  color: white;
  background-color: #264653;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  width: 3em;
  text-align: center;
  font-size: 1em;
}
